/*Variables medidas imagenes*/
/*Variables Bootstrap*/
/*Mixins imagenes*/
/*Titulos y fuentes*/
.titulo {
  text-align: center;
  font-size: 150%;
  font-family: 'Roboto Slab', serif; }

.subtitulo {
  font-size: 120%; }

/*Condiciones del body y elementos*/
body {
  background-color: #04080F;
  color: white;
  font-family: 'Roboto', sans-serif; }

/*Condiciones del index*/
#comunidad {
  background-image: url(../Img/fondoComunidad3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border: 1px solid white;
  border-radius: 25px;
  margin: 3.5%; }

h4 {
  transition: transform 0.5s; }

h4:hover {
  transform: scale(1.35); }

.contenido_djs {
  padding: 2% 0% 5% 0%; }
  .contenido_djs strong {
    padding: 15px 0px 15px 0px; }
  .contenido_djs .contenido_card {
    width: 400px; }
    .contenido_djs .contenido_card .card-text {
      text-align: center; }
  .contenido_djs .contenido_subtitulo {
    display: flex;
    justify-content: center;
    padding: 5px 0px 5px 0px; }

.contenido_entradas .contenido_info_entradas {
  padding-top: 2%; }
  .contenido_entradas .contenido_info_entradas p {
    margin: 0%; }

.contenido_entradas .img-fluid {
  max-width: 420px;
  height: auto;
  border: 1px solid white;
  border-radius: 5px; }

.contenido_entradas ul {
  list-style: none; }

/*Condiciones links*/
a:link {
  color: white;
  text-decoration: none; }

a:visited {
  color: white; }

a:hover {
  color: #fc0000; }

/*Biografias*/
.biografias_cont_iframes {
  display: flex;
  justify-content: center; }

.nopadding_columnas {
  padding: 0px;
  position: initial; }

.biografia_fila {
  margin: 0px; }
  .biografia_fila .biografias_articulos {
    padding-bottom: 5%; }
    .biografia_fila .biografias_articulos .biografias_iframes {
      width: 420px;
      height: 315px; }

.biografias_paginas .page-link {
  background-color: black; }

/*Entradas*/
.entradas_carousel {
  padding-top: 2%; }

.entradas_contenedor {
  padding: 5% 0% 5% 0%; }
  .entradas_contenedor .row {
    margin: 0%; }
  .entradas_contenedor .entradas_descripcion p {
    margin: 0px; }
  .entradas_contenedor .entradas_descripcion strong {
    padding-top: 100px; }
  .entradas_contenedor .entradas_informacion {
    display: flex;
    align-items: center; }
  .entradas_contenedor .entradas_button {
    display: flex;
    align-items: center; }
    .entradas_contenedor .entradas_button .btn {
      margin: 3% 0% 3% 0%;
      white-space: normal; }
  .entradas_contenedor hr {
    border: 1px solid white; }

.entradas_contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0% 5% 0%; }
  .entradas_contacto .row {
    margin: 0%; }
  .entradas_contacto .entradas_iframe {
    width: 400px;
    height: 300px; }

/*Elementos Comunidad*/
.comunidad_playlist p {
  font-size: 225%; }

.comunidad_playlist ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0%; }
  .comunidad_playlist ul .comunidad_lista_med {
    margin: 0 1.5%; }

/*Informacion (Html Nosotros)*/
header .nosotros_titulo {
  font-size: 300%;
  text-align: center; }

.nosotros_fondo {
  background-image: url(../Img/Renaissance.jpg);
  text-align: center;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .nosotros_fondo header {
    position: relative; }
  .nosotros_fondo .nosotros_informacion {
    position: relative;
    font-size: 200%;
    color: white; }
  .nosotros_fondo .nosotros_redes {
    position: relative; }
    .nosotros_fondo .nosotros_redes p {
      color: white;
      margin: 0%;
      font-size: 125%; }
    .nosotros_fondo .nosotros_redes .navbar_listas {
      padding: 0%;
      padding-bottom: 15px;
      margin: 0%; }
    .nosotros_fondo .nosotros_redes .navbar_img {
      margin: 0%; }

.nosotros_fondo:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.nosotros_final .nosotros_invitacion {
  text-align: center;
  font-size: 200%;
  margin: 2%; }

.nosotros_final .nosotros_equipo {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px 50px 0px;
  padding-bottom: 0%; }
  .nosotros_final .nosotros_equipo ul {
    list-style: none;
    display: inline-flex;
    padding: 0%;
    margin: 0%;
    justify-content: center; }
    .nosotros_final .nosotros_equipo ul li {
      margin: 3%; }
      .nosotros_final .nosotros_equipo ul li p {
        text-align: center;
        padding-top: 10px; }
      .nosotros_final .nosotros_equipo ul li .nosotros_fotos {
        max-width: 350px; }

/*Imagenes*/
.contenido_imagenes_dj, .contenido_imagenes_lugares {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px 50px 0px; }

.navbar_img {
  margin-top: 35%;
  width: 50px; }

.biografias_foto {
  width: 95%;
  height: auto;
  border: 1px solid white;
  box-shadow: 0px 10px 13px -3px rgba(255, 255, 255, 0.4); }

/*Grid header*/
#presentacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr;
  grid-column-gap: 5%;
  grid-template-areas: 'main aside' 'navbar navbar';
  padding-bottom: 3%;
  background-image: url(../Img/fondo_tomorrowland.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  #presentacion main {
    grid-area: main;
    justify-self: flex-end;
    position: relative; }
  #presentacion section {
    grid-area: aside;
    justify-self: flex-start;
    font-size: 170%;
    line-height: 1.38;
    width: 60%;
    animation: fadeInRight;
    animation-duration: 1s;
    position: relative; }
  #presentacion img {
    width: 350px;
    height: 350px;
    animation: fadeInLeft;
    animation-duration: 1s;
    position: relative; }
  #presentacion navbar {
    grid-area: navbar;
    position: relative; }

#presentacion:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8); }

.navbar_item {
  display: inline-block; }

.header_item {
  display: inline-block; }

.navbar_contenedor .nav {
  margin: 3%;
  padding: 10px 20px 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(18, 18, 18, 0.95);
  box-shadow: 0px 10px 13px -3px rgba(255, 255, 255, 0.4); }
  .navbar_contenedor .nav .nav-link {
    color: white; }
  .navbar_contenedor .nav .active {
    background-color: rgba(18, 18, 18, 0.95);
    color: white;
    border: 1px solid white; }

/*Grid Footer*/
footer {
  color: white;
  background-color: #343a40;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.4fr);
  grid-column-gap: 10%;
  justify-items: start;
  grid-template-areas: 'contacto1 contacto2 contacto3' 'detalleContacto1 detalleContacto2 detalleContacto3'; }

.contacto1 {
  margin-left: 5%; }

.detalleContacto1 {
  margin-left: 5%; }

.contacto3 {
  margin-right: 5%; }

.detalleContacto3 {
  margin-right: 5%; }

/*Condiciones navegador en celular*/
@media only screen and (max-width: 576px) {
  nav {
    font-size: 80%; }
    nav .navbar_img {
      width: 25px; }
  footer {
    font-size: 80%; }
  .header_navbar {
    font-size: 80%; } }

@media only screen and (max-width: 405px) {
  nav span {
    width: 20%;
    margin-left: 5%; }
  nav .navbar_listas {
    padding-left: 0px; } }

/*Condiciones header en celular*/
@media only screen and (max-width: 1200px) {
  #presentacion {
    font-size: 80%;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-areas: 'main' 'aside' 'navbar'; }
    #presentacion main {
      justify-self: center; }
    #presentacion section {
      width: 100%;
      text-align: center;
      padding-top: 5%; } }

/* Condiciones imagenes menu en celular*/
@media only screen and (max-width: 992px) {
  .contenido_imagenes_dj {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    justify-items: center;
    grid-row-gap: 2%; } }

@media only screen and (max-width: 1270px) {
  .contenido_imagenes_lugares {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    justify-items: center;
    grid-row-gap: 2%; } }

@media only screen and (max-width: 576px) {
  .contenido_imagenes_dj .contenido_card {
    width: 266.66667px; }
  .contenido_imagenes_lugares .img-fluid {
    max-width: 350px;
    height: auto; }
  /*Condiciones iframes de biografias en celular*/
  .biografias_iframes {
    width: 340px;
    height: 235px; } }

/*Condiciones imagenes dj de biografias en celular*/
@media only screen and (max-width: 767px) {
  .biografias_foto {
    margin-left: 2%;
    width: 47.5%;
    height: auto; }
  .biografias_texto {
    margin-left: 2%; }
  .biografias_articulos {
    padding-bottom: 0%; }
  .biografias_iframes {
    padding-bottom: 5%; } }

/*Condiciones navbar vertical biografias*/
@media only screen and (max-width: 991px) and (min-width: 540px) {
  .navbar_biografia {
    padding-left: 15px;
    margin-bottom: 1rem;
    flex-flow: wrap row !important; } }

@media only screen and (max-width: 539px) {
  .navbar_biografia {
    padding-left: 15px;
    line-height: 2.5; } }

/*Condiciones contenido de entradas*/
@media only screen and (max-width: 576px) {
  .entradas_contenedor {
    margin: 0%; }
    .entradas_contenedor img {
      width: 400px; } }

@media only screen and (min-width: 1200px) {
  .entradas_carousel {
    width: 70%; } }

@media only screen and (max-width: 450px) {
  .entradas_contacto {
    display: block; }
    .entradas_contacto .entradas_iframe {
      width: 300px;
      height: 200px; } }

/*Condiciones html comunidad*/
@media only screen and (min-width: 1200px) {
  .comunidad_playlist li iframe {
    width: 380px;
    height: 420px; } }

@media only screen and (max-width: 991px) {
  .comunidad_playlist li iframe {
    width: 240px;
    height: 320px; } }

/*Condiciones html nosotros*/
@media only screen and (max-width: 720px) {
  .nosotros_fondo .nosotros_titulo {
    font-size: 280%; }
  .nosotros_fondo .nosotros_informacion {
    font-size: 180%; } }

@media only screen and (max-width: 1200px) {
  .nosotros_final .nosotros_invitacion {
    margin: 6%; }
  .nosotros_final .nosotros_equipo .nosotros_listas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    justify-items: center;
    grid-row-gap: 2%; } }

@media only screen and (max-width: 576px) {
  .nosotros_final .nosotros_equipo .nosotros_listas .nosotros_fotos {
    max-width: 300px; } }

/*Barra de navegacion*/
nav {
  background-color: #04080F;
  height: 10vh;
  width: 100%;
  color: #b3b3ba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white; }
  nav span {
    margin-left: 1%;
    display: inline-block; }
  nav h1 {
    display: inline-block;
    animation: flash infinite 4s; }

/*Navbar vertical biografias*/
.navbar_biografia {
  height: 80%;
  position: initial; }
