/*Barra de navegacion*/
#navegacion {
    margin-left: 1%;
}
nav {
    background-color:#080e0e;
    height:10vh;
    width:100%;
    color:#B3B3BA;
    display: flex;
    position: sticky;
    top:0px;
    justify-content: space-between;
    align-items: center ;
}
h1 {
    display: inline-block;
    animation:flash infinite 4s;
}
/*Encabezado*/
    /*Grid header*/
#presentacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr;
    grid-column-gap: 5%;
    grid-template-areas: 
        'main aside'
        'navbar navbar';
    background-color: #F0E68C;
    /*background-color:#0023bdbb ;*/
}
    /*Condiciones grid header*/
main {
    grid-area: main;
    justify-self: flex-end;
}
#descripcionLogo {
    grid-area: aside;
    justify-self: flex-start;
    font-size: 170%;
    line-height: 1.38;
    width: 50%;
    animation: fadeInRight;
    animation-duration: 1s;
}
navbar {
    grid-area: navbar;
}
#logo {
    width: 350px;
    height: 350px;
    animation:fadeInLeft;
    animation-duration: 1s;
}
.inline {
    display: inline-block;
}
#menuNav {
    display: flex;
    justify-content: space-around;
    margin: 30px 20px 40px 20px;
    padding:10px 20px 10px 20px;
    border:outset #0023bdbb;
}
/*Titulos y fuentes*/
.titulo {
    text-align:center;
    font-size:150%;
    font-family:'Roboto Slab', serif;
}
.subtitulo {
    font-size:120%;
}
/*Condiciones del body y elementos*/
body {
    background-color:#CCCBD4;
    font-family: 'Roboto', sans-serif;
}
#comunidad {
    background-image:url(../Img/fondoComunidad3.jpg);
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
#tabla {
    display: flex;
    justify-content: center; 
}
a:link {
    color: #616164;
    text-decoration:none;
}
a:visited {
    color:  #616164;
}
a:hover {
    color: rgb(252, 0, 0);
}
h4 {
    transition: transform 0.5s;
}
h4:hover {
   transform: scale(1.35);
}
table {
    margin-bottom: 5%;
}
.columna {
    justify-content: flex-end;
}
/*Imagenes*/
.img {
    display: flex;
    justify-content: space-evenly;
    padding:10px 0px 50px 0px;
}
.img-fluid {
    max-width: 420px;
    height: auto;
}
.imgNav {
    margin-top: 35%;
}
.imgBio {
    width: 250px;
    height: 250px;
}
/*.zoom {
    transition: transform 1s;
}
.zoom:hover {
    transform: scale(1.20);
}*/
/*Pie de pagina*/
    /*Grid Footer*/
footer {
    color:#B3B3BA;
    background-color: #17a2b8;
    /*background-color: #00CED1;
    background-color:#0023bdbb;*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,0.4fr);
    grid-column-gap:10%;
    justify-items: start;
    grid-template-areas:
    'contacto1 contacto2 contacto3'
    'detalleContacto1 detalleContacto2 detalleContacto3';
}
    /*Condiciones grid footer*/
#contacto1 {
    grid-area: contacto1;
    margin-left:5%;
}
#contacto2 {
    grid-area: contacto2;
}
#contacto3 {
    grid-area: contacto3;
}
#detalleContacto1 {
    grid-area: detalleContacto1;
    margin-left: 5%;
}
#detalleContacto2 {
    grid-area: detalleContacto2;
}
#detalleContacto3 {
    grid-area: detalleContacto3;
    margin-right: 5%;
}
/*Condiciones navegador en celular*/
@media only screen and (max-width:540px){
    nav {
        font-size:75% ;
    }
    footer {
        font-size: 75%;
    }
    .imgNav {
        width: 35px;
        height: 35px;
    }
}
/*Condiciones header en celular*/
@media only screen and (max-width:1200px) {
    #presentacion {
        font-size: 80%;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'main'
        'aside'
        'navbar';
    }
    main {
        justify-self: center;
    }
    #descripcionLogo {
        width: 100%;
        text-align: center;
    }
}
/* Condiciones imagenes en celular*/
@media only screen and (max-width:1200px) {
    #imagenesLugares {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        justify-items: center;
        grid-row-gap: 2%;
    }
}
@media only screen and (max-width:992px) {
    #imagenesDj {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        justify-items: center;
        grid-row-gap: 2%;
    }
    #linksDj {
        display: none;
    }
}
@media only screen and (max-width:576px){
    .img-fluid {
        width: 85%;
    }
}
/*Keyframes*/