/*Titulos y fuentes*/
.titulo {
    text-align:center;
    font-size:150%;
    font-family:'Roboto Slab', serif;
}
.subtitulo {
    font-size:120%;
}
/*Condiciones del body y elementos*/
body {
    background-color:#DAE3E5;
    font-family: 'Roboto', sans-serif;
}
/*Condiciones del index*/
#comunidad {
    background-image:url(../Img/fondoComunidad3.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 25px;
    margin: 3.5%;
}
h4 {
    transition: transform 0.5s;
}
h4:hover {
   transform: scale(1.35);
}
.contenido_card {
    width:$medidaFotoCard;
}
.contenido_subtitulo {
    display: flex;
    justify-content: center;
    padding: 5px 0px 5px 0px;
}
.contenido_djs {
    padding: 2% 0% 5% 0%;
    strong {
        padding: 15px 0px 15px 0px;
    }
}
.contenido_entradas {
    .contenido_imagenes {
        padding: 2% 0% 5% 0%;
    }
    p {
        margin: 0%;
    }
    .img-fluid {
        max-width: 420px;
        height: auto;
    }
    ul {
        list-style: none;
    }
}
a:link {
    color: #616164;
    text-decoration:none;
}
a:visited {
    color:  #616164;
}
a:hover {
    color: rgb(252, 0, 0);
}
/*Biografias*/
.biografias_iframes{
    width:420px;
    height:315px;
}
.biografias_cont_iframes {
    display: flex;
    justify-content: center;
}
.nopadding_columnas {
    padding:0px;
    position: initial;
}
.biografias_articulos {
    padding-bottom:5%;
}
.biografias_articulos_claro {
    padding-bottom:5%;
}
.biografia_fila {
    margin: 0px;
}
/*Entradas*/
.entradas_carousel {
    padding-top: 2%;
}
.entradas_contenedor {
    padding:5% 0% 5% 0%;
    .row {
        margin: 0%;
    }
    .entradas_descripcion {
        p {
            margin: 0px;
        }
        strong  {
            padding-top: 100px;
        }
    }
    .entradas_informacion {
        display: flex;
        align-items: center;
    }
    .entradas_button{
        display: flex;
        align-items: center;
        .btn {
            margin: 3% 0% 3% 0%;
            white-space: normal;
        }
    }
    hr {
        border: 1px solid #a1c6ea;
    }
}
.entradas_contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0% 5% 0%;
    .row {
        margin: 0%;
    }
    .entradas_iframe {
        width: 400px; 
        height: 300px;
    }
}
/*Informacion (Html Nosotros)*/
header {
    .nosotros_titulo {
        font-size: 300%;
        text-align: center;
    }
}
.nosotros_fondo {
    background-image: url(../Img/Renaissance.jpg);
    text-align: center;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .nosotros_informacion {
        position: relative;
        font-size: 200%;
        color: white;
    }
}
.nosotros_fondo:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}
/*Imagenes*/
.contenido_imagenes_dj, .contenido_imagenes_lugares {
    @include position-img-index;
}
.navbar_img {
    margin-top: 35%;
    width:$medidaFotoNav;
}
.biografias_foto {
    width: $medidaFotoBio;
    height: auto;
}