/*Titulos y fuentes*/
.titulo {
    text-align:center;
    font-size:150%;
    font-family:'Roboto Slab', serif;
}
.subtitulo {
    font-size:120%;
}
/*Condiciones del body y elementos*/
body {
    background-color: #04080F;
    color: white;
    font-family: 'Roboto', sans-serif;
}
/*Condiciones del index*/
#comunidad {
    background-image:url(../Img/fondoComunidad3.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border:$bordeblanco  ;
    border-radius: 25px;
    margin: 3.5%;
}
h4 {
    transition: transform 0.5s;
}
h4:hover {
   transform: scale(1.35);
}
.contenido_djs {
    padding: 2% 0% 5% 0%;
    strong {
        padding: 15px 0px 15px 0px;
    }
    .contenido_card {
        width:$medidaFotoCard;
        .card-text{
            text-align: center;
        }
    }
    .contenido_subtitulo {
        display: flex;
        justify-content: center;
        padding: 5px 0px 5px 0px;
    }
}
.contenido_entradas {
    .contenido_info_entradas{
        padding-top: 2%;
        p {
            margin: 0%;
        }
    }
    .img-fluid {
        max-width: 420px;
        height: auto;
        border: $bordeblanco;
        border-radius: 5px;
    }
    ul {
        list-style: none;
    }
}
/*Condiciones links*/
a:link {
    color: white;
    text-decoration:none;
}
a:visited {
    color:  white;
}
a:hover {
    color: rgb(252, 0, 0);
}
/*Biografias*/
.biografias_cont_iframes {
    display: flex;
    justify-content: center;
}
.nopadding_columnas {
    padding:0px;
    position: initial;
}
.biografia_fila {
    margin: 0px;
    .biografias_articulos {
        padding-bottom:5%;
        .biografias_iframes{
            width:420px;
            height:315px;
        }
    }
}
.biografias_paginas {
    .page-link {
        background-color: black;
    }
}
/*Entradas*/
.entradas_carousel {
    padding-top: 2%;
}
.entradas_contenedor {
    padding:5% 0% 5% 0%;
    .row {
        margin: 0%;
    }
    .entradas_descripcion {
        p {
            margin: 0px;
        }
        strong  {
            padding-top: 100px;
        }
    }
    .entradas_informacion {
        display: flex;
        align-items: center;
    }
    .entradas_button{
        display: flex;
        align-items: center;
        .btn {
            margin: 3% 0% 3% 0%;
            white-space: normal;
        }
    }
    hr {
        border: $bordeblanco;
    }
}
.entradas_contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0% 5% 0%;
    .row {
        margin: 0%;
    }
    .entradas_iframe {
        width: 400px; 
        height: 300px;
    }
}
/*Elementos Comunidad*/
.comunidad_playlist{
    p{
        font-size: 225%;
    }
    ul{
        list-style: none;
        display:flex;
        justify-content: center;
        padding:0%;
        .comunidad_lista_med{
            margin: 0 1.5%;
        }
    }
}
/*Informacion (Html Nosotros)*/
header {
    .nosotros_titulo {
        font-size: 300%;
        text-align: center;
    }
}
.nosotros_fondo {
    background-image: url(../Img/Renaissance.jpg);
    text-align: center;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    header{
        position: relative;
    }
    .nosotros_informacion {
        position: relative;
        font-size: 200%;
        color: white;
    }
    .nosotros_redes {
        position: relative;
        p{
            color: white;
            margin: 0%;
            font-size: 125%;
        }
        .navbar_listas{
            padding: 0%;
            padding-bottom: 15px;
            margin: 0%;
        }
        .navbar_img{
            margin: 0%;
        }
    }
}
.nosotros_fondo:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}
.nosotros_final{
    .nosotros_invitacion{
        text-align: center;
        font-size: 200%;
        margin: 2%
    }
    .nosotros_equipo{
        @include position-img-index;
        padding-bottom: 0%;
        ul{
            list-style: none;
            display: inline-flex;
            padding: 0%;
            margin: 0%;
            justify-content: center;
            li{
                margin: 3%;
                p{
                    text-align: center;
                    padding-top: 10px;
                }
                .nosotros_fotos{
                    max-width: 350px;
                }
            }
        }
    }
}
/*Imagenes*/
.contenido_imagenes_dj, .contenido_imagenes_lugares {
    @include position-img-index;
}
.navbar_img {
    margin-top: 35%;
    width:$medidaFotoNav;
}
.biografias_foto {
    width: $medidaFotoBio;
    height: auto;
    border: $bordeblanco;
    box-shadow:0px 10px 13px -3px rgba(255,255,255,0.4);
}