/*Grid header*/
#presentacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr;
    grid-column-gap: 5%;
    grid-template-areas: 
        'main aside'
        'navbar navbar';
    padding-bottom: 3%;
    background-image: url(../Img/fondo_tomorrowland.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    main {
        grid-area: main;
        justify-self: flex-end;
        position: relative;
    }
    section {
        grid-area: aside;
        justify-self: flex-start;
        font-size: 170%;
        line-height: 1.38;
        width: 60%;
        animation: fadeInRight;
        animation-duration: 1s;
        position: relative;
    }
    img {
        width: 350px;
        height: 350px;
        animation:fadeInLeft;
        animation-duration: 1s;
        position: relative;
    }
    navbar {
        grid-area: navbar;
        position: relative;
    }
}
#presentacion:before {
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
}
.navbar_item {
    display: inline-block;
}
.header_item {
    display: inline-block;
}
.navbar_contenedor {
    .nav{
        margin: 3%;
        padding:10px 20px 10px 20px;
        border:$bordeblanco;
        border-radius: 10px;
        background-color: rgba(18,18,18,0.95);
        box-shadow: 0px 10px 13px -3px rgba(255, 255, 255, 0.4);
        .nav-link {
            color: white;
        }
        .active {
            background-color: rgba(18,18,18,0.95);
            color: white;
            border:$bordeblanco;
        }
    }
}
/*Grid Footer*/
footer {
    color:white;
    background-color: #343a40;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,0.4fr);
    grid-column-gap:10%;
    justify-items: start;
    grid-template-areas:
    'contacto1 contacto2 contacto3'
    'detalleContacto1 detalleContacto2 detalleContacto3';
}
.contacto1 {
    margin-left:5%;
}
.detalleContacto1 {
    margin-left: 5%;
}
.contacto3 {
    margin-right: 5%;
}
.detalleContacto3 {
    margin-right: 5%;
}